<div class="group">
  <div class="bg-white relative shadow-lg rounded-lg group-hover:rounded-none group-hover:rounded-t-lg w-72 h-16 m-6 p-4 pt-5 group-hover:-translate-y-2 group-hover:bg-slate-950 group-hover:text-white duration-200 ease-in-out">
    <h1 class="font-bold ml-2 text-center">{{question}}</h1>
  </div>
  <div class="bg-white absolute shadow-lg rounded-b-lg w-72 group-hover:h-24 h-0 m-6 -mt-10 duration-300 pl-4 pr-4 pb-4 group-hover:pt-5 text-center">
    <p class="opacity-0 group-hover:opacity-100 duration-100 group-hover:duration-700 text-slate-950">{{answer}}</p>
  </div>
</div>