<!-- Navbar -->
<div id="home"></div>
<app-navbar></app-navbar>

<!-- Hero -->
<div class="flex justify-center items-center mt-16">
  <h2 class="text-5xl font-black text-slate-800 px-24 md:px-40 tracking-wide leading-normal text-center">
    Easy-to-use marking system designed for teachers.
  </h2>
</div>
<div class="flex justify-center items-center">
  <p class="font-normal text-xl px-24 md:px-56 text-center">
    <strong>Marking made easy.</strong> Manually inserting marks into a spreadsheet is a thing of the past. With Report
    Card
    Pro you can <strong>automatically generate</strong> report cards with just a few clicks. <strong>Customize</strong>
    your report cards with your own logo and school name. <strong>Save time</strong> and <strong>reduce stress.</strong>
  </p>
</div>

<div class="flex justify-center items-center">
  <img src="assets/images/preview.png" class="mt-10 w-96 h-96">
</div>

<!-- Download -->
<div class="flex justify-center items-center mt-16" id="install">
  <h2 class="text-5xl font-black text-slate-800 px-24 md:px-40 tracking-wide leading-normal text-center">
    Download Now
  </h2>
</div>
<div class="flex justify-center items-center">
  <p class="font-normal text-xl px-24 md:px-56 text-center">
    Report Card Pro is free and light-weight. It's user-interface and functions was designed in Javca. Get started with
    Report Card Pro today! Download the latest version below.
  </p>
</div>
<div class="flex justify-center items-center mt-6">
  <button
    class="bg-slate-900 text-white px-7 py-4 rounded-lg text-center text-extrabold hover:bg-slate-200 hover:shadow-sm hover:text-slate-900">
    Download
  </button>
</div>

<!-- Github -->
<div class="flex justify-center items-center mt-16" id="github">
  <h2 class="text-5xl font-black text-slate-800 px-24 md:px-40 tracking-wide leading-normal text-center">
    Find us on Github!
  </h2>
</div>
<div class="flex justify-center items-center mb-10">
  <p class="font-normal text-xl px-24 md:px-56 text-center"><strong>Transparency leads to success.</strong> Worried
    about
    bugs or malicious intent? Then check out our github, everything is all <strong>open-sourced!</strong> Click the
    laptop or <a href="https://github.com/realTristan/ICS4UI_Final" class="text-blue-500 hover:underline">here</a> to
    visit.</p>
</div>
<app-laptop></app-laptop>

<!-- Spacer -->
<div class="my-20"></div>


<!-- 
  ng build --base-href "https://realtristan.github.io/ReportCardPro/" 
  npx angular-cli-ghpages --dir=dist/reportcardpro
-->